.square-container {
  width: 100%;
  height: 100%;
  padding: 3rem;
  position: relative;
  .square {
    background: #302f4e;
    color: #fff;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    cursor: pointer;
  }
}
